<% title "#{admin_title} #{t(:discussions, default: "Discussions")}" %>

<div class="row white-bg">
  <div id="admin-left-nav" class="hidden-xs col-sm-6 col-md-4 ticket-stats scrolling">
    <%= render partial: 'admin/topics/tiny' %>
  </div>

  <div id="tickets" class="col-sm-6 col-md-8 main-panel scrolling">
    <%= render 'ticket' %>
  </div>
</div>
